<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="./assets/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap" rel="stylesheet">
    

    <style>
        .done {
            text-decoration: line-through;
        }
    </style>

    <title>Simple To-Do List</title>
</head>
<body>
    <main id="app">
        <h3>
            {{title}}
        </h3>
        <form @submit.prevent= "addTodo">
            <label for= "newTodo" >New To Do</label>
            <input 
                v-model="newTodo" 
                type="text" 
                name="newTodo" 
                id="newTodo" 
                value=""
            >
            <button type="submit" name="button" class="button-add">Add</button>
        </form>
            <button @click="allDone" type="button" name="All Done" class="button-all-done">Check All</button>
        <ul>
            <li v-for="todo in todos" >
                <input type="checkbox" v-model="todo.done">
                <span :class="{ done: todo.done }">{{todo.title}}</span>
                <button @click="removeTodo(todo)" type="button" name="button" class="button-delete">delete</button>
            </li>
        </ul>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./assets/app.js"></script>
</body>
</html>