<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        .done {
            text-decoration: line-through;
        }
    </style>

    <title>Simple Vue.js ToDo List</title>
</head>
<body>
    <main id="app">
        <h3>
            {{title}}
        </h3>
        <form @submit.prevent= "addTodo">
            <label for= "newTodo" >New ToDo</label>
            <input 
                v-model="newTodo" 
                type="text" 
                name="newTodo" 
                id="newTodo" 
                value=""
            >
            <button type="submit" name="button">Add</button>
        </form>
            <button @click="allDone" type="button" name="All Done">All Done</button>
        <ul>
            <li v-for="todo in todos" >
                <input type="checkbox" v-model="todo.done">
                <span :class="{ done: todo.done }">{{todo.title}}</span>
                <button @click="removeTodo(todo)" type="button" name="button">Remove</button>
            </li>
        </ul>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="app.js"></script>
</body>
</html>